img {
	width: 5em;
	height: 5em;
}

table, td, th, img {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
	margin-top: 0.5em;
}

td, th {
	text-align: center;
	padding: 0.5em;
}

body {
	font-family: "Gentium Plus", "Gentium", serif;
}